<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Page Title</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/marked"></script>
		<script src="https://unpkg.com/moment"></script>
		<link rel="stylesheet" href="style.css">
		
	</head>
	<body style="height:1280px;">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="#">Top navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
				<form class="form-inline mt-2 mt-md-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		
		<div class="container-fuild" id="app">
			
			<div class="row">
				<div class="col-md-3">
					
					<button type="button" :title="addTitlebutton" class="btn btn-default" id="addNote" @click="addNote">Add note</button>
					
					<ul class="list-group">
						<li class="list-group-item note-title" v-bind:class="{selected: note.id === selectedId }" v-for="note in sortedNotes" @click="selectNote(note)">{{note.title}}
							<span class="note-list-star"><i v-if="note.favorite" class="fas fa-star right"></i></span>
						</li>
						
					</ul>
				</div>
				<template v-if="selectedNote">
				<div class="col-md-4">
					<form>
						<fieldset class="form-group">
							<label for="formGroupExampleInput">Title</label>
							<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title" v-model="selectedNote.title">
						</fieldset>
						<fieldset class="form-group">
							<label for="formGroupExampleInput2">Note</label>
							<textarea type="text" class="form-control" id="formGroupExampleInput2" placeholder="Note" v-model="selectedNote.content" rows="5"></textarea>
						</fieldset>
						<fieldset class="form-group">
							<button type="button" @click="removeNote" class="btn btn-danger"><i class="fas fa-trash"></i></button>
							<button type="button" v-on:click="favoriteNote" class="btn btn-success"><i class="" v-bind:class="{'fas fa-star': selectedNote.favorite, 'far fa-star': !selectedNote.favorite}" ></i></button>
						</fieldset>
					</form>
					
					
				</div>
				<div class="col-md-5 preview-note">
					<p v-html="previewNote"></p>
					<div class="status-bar">
						<span>Created:</span>
						<span class="">{{selectedNote.created | date}}</span>
						<span class="lines">
							<span class="label">Lines</span>
							<span class="value">{{ linesCount }}</span>
						</span>
						<span class="words">
							<span class="label">Words</span>
							<span class="value">{{ wordsCount }}</span>
						</span>
						<span class="characters">
							<span class="label">Characters</span>
							<span class="value">{{ charactersCount }}</span>
						</span>
					</div>
				</div>
				</template>
			</div>
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script src="pj1.js"></script>
	</body>
</html>